# Python
__pycache__/
*.py[cod]
*.pyo
*.egg-info/
dist/
build/
*.egg
.venv/
venv/
env/

# Streamlit
.streamlit/secrets.toml

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Environment
.env
*.env.local

# Yara binary
yara-bin/

# Archives
*.7z
*.zip
*.tar.gz

# Logs
*.log
*.err
